<!DOCTYPE html>
<html>
    <head>
        {{! Document Settings }}
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        {{! Page Meta }}
        <title>{{meta_title}}</title>
        <meta name="description" content="{{meta_description}}"/>

        <meta name="HandheldFriendly" content="True"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">

        {{! Styles'n'Scripts }}
        <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}"/>
        <link rel="stylesheet" type="text/css" href="{{asset "css/font-awesome.min.css"}}"/>

        {{! Testing fonts TODO: Download and put on server }}
        <link href='https://fonts.googleapis.com/css?family=Quando' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Judson:400,700,400italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

        <!--<link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>-->

        {{! Ghost outputs important style and meta data with this tag }}
        {{ghost_head}}
    </head>

    <body>
    {{> rd-header }}

    {{! Everything else gets inserted here (Ghost variable for body). }}
    {{{body}}}

    {{> rd-footer }}

    <!--<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'></script>-->
    <script>window.jQuery || document.write('<script src="{{asset "js/jquery.min.js"}}"><\/script>')</script>

    <script type="text/javascript" src="{{asset "js/bootstrap.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/instafeed.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/rd-instafeed.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/rd-map.js"}}"></script>

    <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=SEEDOC&callback=initMap">
    </script>

    {{! The main JavaScript file for Bootstrap Skeleton }}
    {{> analytics}}
    </body>
</html>